.content {
    width: 100%;
    height: fit-content;
    background: rgb(190, 230, 244);
}

.login-again {
    margin-left: 25%;
    font-size: 30px;
    width: 40%;
    display: flex;
    margin-top: 20%;
    justify-content: space-evenly;
}