.layout_default {
    background-image: url('https://images3.alphacoders.com/133/1337465.png');
    background-repeat: round;
    background-position: top center;
    background-size: contain;
    width: 100%;
    height: 100vh;
}